DATABASE_URL="postgresql://user_admin:password_sicura@localhost:5432/ecommerce_db?schema=public"
ADMIN_API_KEY="admin_api_key"
NEXT_PUBLIC_API_URL="/api"
NEXT_PUBLIC_API_KEY="admin_api_key"
WATCHPACK_POLLING=true
