@use "@/styles/variables" as *;
@use "@/styles/colors" as *;

.sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
  position: sticky;
  top: $spacing-6;
}

.section {
  background: $white;
  padding: $spacing-6;
  border-radius: 4px;
  border: 1px solid $black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  .sectionTitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: $spacing-4;
    color: $black;
    border-bottom: 1px solid $black;
    padding-bottom: $spacing-2;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: $spacing-3;
}
