// src/styles/_base.scss
@use "colors" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font-geist-sans);
  font-variant-numeric: tabular-nums;
}

body {
  margin: 0;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
