$grey-0: #FFFFFF;
$grey-1: #F5F7F8;
$grey-2: #CDDDD1;
$grey-3: #B5B9BB;
$grey-4: #98A1A3;
$grey-5: #82898C;
$grey-6: #697175;
$grey-7: #505A5E;
$grey-8: #374247;
$grey-9: #1E2B30;
$grey-10: #051319;

$black: #000000;
$white: #FFFFFF;
$soft-black: #142C32;

$light-blue: #1ABAE6;
$blue-100: #CCDFFF;
$blue-200: #99BDFF;
$blue-300: #6697FF;
$blue-400: #3F78FF;
$blue-500: #0045FF;

$light-grey: #dde0e4;
$soft-grey: #B5B9BB;
$grey-50: #F5F8FD;
$grey-100: #EAEEF7;
$grey-200: #DBDEE7;
$grey-300: #E9E9E7;
$grey-400: #BCBFC8;
$grey-500: #7B8794;
$grey-800: #323F4B;

$red-500: #FF4646;
$green-300: #cee6b3;
$green-400: #8BC34A;
$green-500: #4CAF50;

$orange-100: #FFE8CC;
$orange-500: #FF9800;
$amber-100: #FFF3E0;
$amber-500: #FFA726;

$purple-100: #E1D5F5;
$purple-500: #9C27B0;
$lavender-100: #F3E5F5;
$lavender-500: #AB47BC;

$focus: #1E90FF;
$danger: #DC1E28;
$warning: #F5A500;
$success: #23A046;